doctype html
html
  head
    include head

    header
      .container
        h1
          span.public Public
          span.apis APIs

        h2
          span.gray by
          a(href='http://mashape.com') Mashape
          span.light API Marketplace

        .row
          .search
            .col-lg-8.col-lg-offset-2
              label We have #{count} Public APIs in our Database
              form
                .form-group
                  span.fa.fa-search
                  input.form-control(type='text', placeholder='Search though thousands of APIs...')

  body
    .container
      block content

    script(src='//cdnjs.cloudflare.com/ajax/libs/jade/1.3.1/runtime.min.js')
    script(src='/apis/data.js')
    script(src='/assets/js/template.js')
    script(src='/assets/js/main.js')
    script(src='/assets/js/analytics.js')
